* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.speech-pic{
  width: 500px;
  box-shadow: 40px 50px black;
  margin-left: 50px;
}

.work-pic{
  width: 500px;
  box-shadow: 40px 50px black;


}



body{
  font-family: 'Roboto', sans-serif;
}

header-color {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  color: aliceblue;

}
body{
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: aliceblue;

}

.bio{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.top-bio{
  padding-top: 90px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.top-bio p{
  width: 400px;
  line-height: 30px;

}
/* 
.second-bio{
  padding-top: 230px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  
} */

.second-bio{
  padding-top: 200px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.tech-skills{
  display: flex;
  flex-direction: row;
  padding-top: 0;


}

.tech-skills .langs{
  padding-right: 100px;

  
}

.working-with-now{
  padding-top: 30px;
  width: 500px;
}